html {
  background-color: black;
  margin: 0px;
  padding: 0px;
  font-family: roboto, calibri, times, arial;
  width: 100%;
  display: flex;
  justify-content: center;
}

.name,
.username {
  display: flex;
  color: green;
  justify-content: center;
}

.name {
  font-size: 37px;
  margin-top: 24px;
  font-weight: bold;
}

.username {
  font-size: 17px;
  margin-top: 0px;
  font-weight: bold;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foto {
  border-radius: 20%;
  border: solid 8px green;
  margin-top: 20px;
  width: 220px;
}

.button {
  display: flex;
  flex-direction: column;
  color: white;
  width: 300px;
  padding: 18px 0;
  margin: 16px 0;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  background-color: green;
  align-items: center;
}
